<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- console -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
            <charset>utf-8</charset>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>debug</level>
        </filter>
    </appender>
    <!-- 单独声明该包下级别 -->
    <logger name="com.nowcoder.community" level="debug"/>
    <!-- root文件下所有文件级别设置 -->
    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>