<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nowcoder.community.dao.UserMapper">
  <sql id="selectFields">
    id, username, password, salt, email, type, status, activation_code, header_url, create_time
  </sql>
  <sql id="insertFields">
    username, password, salt, email, type, status, activation_code, header_url, create_time
  </sql>
  <!-- id写对应的方法名 resultType本应该写全限定名，但是配置文件中写了entity的位置，就可以直接写类型（首字母大小写无所谓）-->
  <select id="selectById" resultType="user">
    select <include refid="selectFields"></include>
    from user
    where id = #{id}
  </select>
  <select id="selectByName" resultType="user">
    select <include refid="selectFields"></include>
    from user
    where username = #{username}
  </select>
  <select id="selectByEmail" resultType="user">
    select <include refid="selectFields"></include>
    from user
    where email = #{email}
  </select>
  <!-- 方法输入的类型不是java能自带的类型，就得指定其类型（全限定名，配置后可简写） keyProperty指明与主键对应的属性名 -->
  <insert id="insertUser" parameterType="User" keyProperty="id">
    insert into user
    (<include refid="insertFields"></include>)
    values(#{username}, #{password}, #{salt}, #{email}, #{type}, #{status}, #{activationCode}, #{headerUrl}, #{createTime})
  </insert>
  <update id="updateStatus">
    update user set status = #{status} where id = #{id}
  </update>
  <update id="updateHeader">
    update user set header_url = #{headerUrl} where id = #{id}
  </update>
  <update id="updatePassword">
    update user set password = #{password} where id = #{id}
  </update>
</mapper>